.Header {
  display: flex;
  align-items: center;
  padding: 15px 15px 0 15px;
}

.Header__menu {
  display: none;
  align-items: center;
  margin-right: 15px;
  width: 30px;
  height: 26px;
  border-top: 3px solid #706d6c;
  border-bottom: 3px solid #706d6c;
  border-radius: 2px;
  cursor: pointer;
}

.Header__menuLine {
  width: 30px;
  height: 1px;
  border-top: 3px solid #706d6c;
  border-radius: 2px;
}

.Header__logo {
  
}

@media (max-width: 768px) {
  .Header__menu {
    display: flex;
  }
}
